* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header
{
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-row-adaptive
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header-logo
{
    font-size: 24px;   
    flex-grow: 1;
}

nav 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-right: 1px solid #aaa;

    border-bottom: 1px solid #ddd;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1em;
    text-align: center;
}



.header-notification-container
{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0.5em;
    position: relative;
}

.header-notification-container i
{
    font-size: 36px;
}

.header-profile-container
{
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.header-profile-container img
{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    object-fit: cover;
    
    margin: 0 0.5em;
}

.header-profile-container > span
{
    width: min-content;
}

a.active-page
{
    font-weight: 700;
}

.popup
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 170px;
    text-align: center;
    top: 110%;
    border: 1px solid #808080;
    border-radius: 5px;
    color: black;
    background-color: white;

    padding: 1em;
    box-shadow: 3px 3px 3px #888;
    opacity: 0;
    z-index: 1;
    display: none;
    max-width: 300px;
}

.transition-opacity
{
    transition: opacity 0.4s;
}

*:hover > .popup
{
    display: block;
    opacity: 1;
}

.popup::before
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #808080 transparent;
}

main#mainPage
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main#chatPage
{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#chats
{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
    border-right: 1px solid rgb(190, 186, 186);
}

.chat-box
{
    display: flex;
    align-items:center;
    height: 75px;

    padding: 15px;
    gap: 10px;
}

#chats .chat-box:first-child
{
    font-size: 20px;
    border-bottom: 1px solid gray;
}

#username-prompt
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #006aff;
    z-index: 2;
    display: flex;
    align-items:center;
    justify-content: center;
}

#username-input{
    font-size: 28px;
    padding: 20px;
}

#username-form > button
{
    font-size: 28px;
    padding: 20px;
}

#message-area
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-box > img
{
    height: 100%;
    border-radius: 100%;
}



.chat-box:hover
{
    background-color: #b2b2b2;
}

#creating-chat-frame
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #006aff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#creating-chat-modal
{
    background-color:white;
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    height: 70%;
    max-height: 700px;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#creating-chat-modal > h1
{
    text-align: center;
}

#creating-chat-modal > button
{
    margin-top: auto;
    padding: 12px;
    font-size: 20px;
}


#chatname-input
{
    font-size: 20px;
    padding: 8px;
    border: 0px;
    border-bottom: 2px solid #aaa;
    outline: 0;
}

#students-list
{
    border: 1px solid #555;
    flex-grow: 1;
    overflow-y: auto;
}

.student-item
{
    padding: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #aaa;
    align-items: center;
}

.student-item > input
{
    width: 1.5em;
    height: 1.5em;
}


.selected-box
{
    background-color: #aaa;
}

#messages-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#messages-form
{
    padding: 10px;
    margin-top: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#messages-form > input
{
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    max-width: 500px;
}

#messages-form > button
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
}


.message
{
    background-color:#aad3ff;
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    gap: 8px;
    position: relative;
    align-self:flex-start;
}

.message::before
{
    content: "";
    border: 10px solid transparent;
    border-right: 10px solid #aad3ff;
    position: absolute;
    left: -20px;
}

.message-header
{
    font-weight: 700;
}

.own-message
{
    background-color:#aad3ff;
    display: inline-flex;
    padding: 20px;
    flex-direction: column;
    gap: 8px;
    position: relative;
    align-self: flex-end;
}

.own-message::after
{
    content: "";
    border: 10px solid transparent;
    border-left: 10px solid #aad3ff;
    position: absolute;
    right: -20px;
}

.message-footer 
{
    align-self: flex-end;
    color: #777;
}

.content-container
{
    flex-grow: 1;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#addButton
{
    font-size: 18px;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #0073ff;
    color: white;
    border-width: 0px;
    cursor: pointer;
}

#addButton:hover
{
    background-color: #005bcc;
}

.status-online
{
    width: 1em;
    margin: 0 auto;
    background-color: #689e39;
    border-radius: 50%;
    height: 1em;
}

.status-offline
{
    width: 1em;
    margin: 0 auto;
    background-color: #d8d8d8;
    border-radius: 50%;
    height: 1em;
}

#students-table
{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

#students-table tr:nth-child(even)
{
    background-color:#eee;
}

#students-table td, #students-table th 
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#students-table thead
{
    background-color: #007bff;
    color: white;
}

.options-container
{
    justify-content: center;
    display: flex;
}

.table-scroller
{
    overflow-x: auto;
    align-self:stretch;
}

.pagination-container
{
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-container > button
{
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
}

footer
{
    background-color: #bbbbbb;
    padding: 1em;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.options-container > button
{
    display: flex;
    font-size: 20px;
    padding: 0.4em 0.8em;
}

#dropdown-btn
{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#header-notification-indicatior
{
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    top: 0%;
    right: -20%;
    border-radius: 50%;
}

.active-notification
{
    animation-name: notification-blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.popup > .message-container:not(:last-child)
{
    border-bottom: 2px solid #ddd;
}

.message-container
{
    display: flex;
    height: 2em;
    align-items: center;


    text-align: left;

}

.message-container > img
{
    width: 2em;
    height: 2em;
    padding: 1px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1em;
}

.message-container > span
{
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes notification-blinking {
    from {background-color: transparent;}
    to {background-color: red;}
}

.modal-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}

.modal
{
    max-width: 600px;
    min-width: 200px;
    height: 700px;
    width: 70%;
    background-color: #ccc;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.modal-header
{
    display: flex;
    font-size: xx-large;
    justify-content: space-between;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #ddd;
}

.modal-header > button
{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-body
{
    flex-grow: 1;
    padding: 1em;
}

.modal-body > form
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.modal-body > form > input, select
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #aaa;
    outline: 0;
    margin: 0em 0;
    font-size: 16px;
    padding: 0.6em;
}

.modal-body > form > select
{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 4px;
}

.error-message
{
    margin-top: auto;
    text-align: center;
    color: red;
    font-size: 18px;
}

.modal-button-container
{
    margin-top: auto;
    display: flex;
}

.modal-button-container > button
{
    padding: 1em;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
    width: 50%;
}

.modal-button-container > button:nth-child(1)
{
    background-color: #007bff;
}

.modal-button-container > button:nth-child(2)
{
    background-color: #ff0000;
}

.loader-frame
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #006aff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader
{
    width: 100px;
    height: 100px;
    border: 20px solid #aaa5;
    border-top: 20px solid white;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.rise-up
{
    animation: rise-up-animation 0.5s ease-in-out 1 forwards;
}

.fall-down
{
    animation: fall-down-animation 0.5s ease-in-out 1 forwards;
}

.confirmation-frame
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8888;
}

.confirmation-window
{
    padding: 10px;
    background-color: white;
    border-radius:5px;
}

.confirmation-header
{
    font-size: 30px;
    border-bottom: 2px solid #ddd;
}

.confirmation-body
{
    margin-top: 10px;
    font-size: 20px;
}

.confirmation-buttons
{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.confirmation-buttons > button
{
    padding: 10px;
    border-radius: 4px;
    border-color: #ddd;
    color: white;
}

.confirmation-buttons > button:nth-child(1)
{
    background-color:#689e39;
}

.confirmation-buttons > button:nth-child(2)
{
    background-color: red;
}



@keyframes fall-down-animation {
    from {top:0%;}
    to {top:100%;}
}

@keyframes rise-up-animation {
    from {top:100%;}
    to {top:0%;}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.hidden
{
    display: none !important;
}

@media screen and (max-width: 992px)
{
    main
    {
        flex-direction: column;
    }
    nav
    {
        border-top: 1px solid #999;
        background-color: #bbbbbb;
        flex-direction: row;
    }
    nav a
    {
        color: white;
        width: 100%;
    }
    a.active-page
    {
        background-color: #9b9999;
    }
}

@media screen and (max-width: 480px) 
{
    header
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.375em;
    }

    .header-profile-container
    {
        align-self: flex-end;
        margin-top: 10px;
    }

    nav
    {
        flex-direction: column;
    }

    #dropdown-btn
    {
        display: flex;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    #dropdown
    {
        display: none;
    }

    .active-dropdown
    {
        display: block !important;
        animation-name: rotateMenu;
        animation-duration: 1s;
    }
}

@keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg)
    }
    70% {
      transform: rotateX(20deg)
    }
    100% {
      transform: rotateX(0deg)
    }
}